@page 
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="jumbotron">
    <h1 class="display-4 text-center">Log in</h1>
    <p class="lead  text-center">Welcome back!</p>
    <hr class="my-4">

    <form method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" asp-for="User.UserName" class="form-control" size="20" placeholder="Enter username" required>
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" asp-for="User.UserPassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn text-white">Log in</button>
    </form>
</div>

